.formCardItem-container-wrapper {
  display: flex;
}

.formCardItem-container {
  padding: 15px;
  background-color: white;
  text-align: left;
  border: 1px solid #dde3ec;
  border-radius: 2px;
}

.formCardItem-title {
  color: #07074d;
}

.formCardItem-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #dde3ec;
  color: #2d374e;
  font-weight: 600;
}

.formCardItem-inner {
  color: #2d374e;
  font-weight: 400;
}