.product-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  transition: all 0.2s;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 20px 0;
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 6px;
  background: white;
  font-family: "Open Sans";
  transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in;
  cursor: pointer;
}

.product-item:hover {
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(59, 69, 123, 0.2),
    0px 8px 8px rgba(92, 107, 192, 0.2);
}

.product-image {
  display: block;
  width: 100%;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.product-descr {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.0275em;
  color: #19191d;
  transition: color 0.3s ease-in;
}

.product-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.product-species {
  margin: 10px 0;
  color: gray;
}

.buttons {
  display: flex;
  gap: 20px;
}

@media only screen and (min-width: 450px) {
  .product-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-wrapper {
    width: 25%;
  }
}
