.nav {
  background-color: #2b2929;
}

.nav-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 20vh;
  width: 80%;
  margin: 0 auto;
}

.nav-link {
  margin: auto 0;
  height: 32px;
  font-size: 28px;
  color: white;
}

.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.nav-pages {
  display: flex;
  gap: 25px;
}

.nav-user {
  display: flex;
}

.form-account::before {
  font-family: FontAwesome;
  content: "\f234";
}